*{
    margin: 0;
    padding: 0;
}
button:hover{
    opacity: 0.8;
}
#sidemenu{
    border:none;
    background:none;
    text-align: center;
    padding-top: 15px;
}
header{
    background-color:white;
    height:90px;
    margin-top: 0;
    margin-left: 2%;
    margin-right: 2%;
    border-bottom: 1px solid #553041 ;
    /* border-: 12px; */
    /* margin-bottom: 10%; */
    top:0;
    position: sticky;
    z-index:10000;
    width: 96%;
    /* bottom: 100%; */
}

#logo{
    height:65px;
    width: 65px;
    border-radius: 50%;
}
#drop-menu{
    height:35px;
    width: 35px;
    padding-top: 13%;
    align-self: center;
    padding-top: 10px;
    border-radius: 10px;
}
.monnavbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin-left: 2%;
    margin-right: 2%;
    /* background-color: #333; */
  }

  .monnavbar li {
    float: left;
  }
  #search_bar{
      float: right;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 30px;
      width: 30%;
  }
  #search{
      /* text-align: center; */
      height: 30px;

  }
  #isearch{
      height: 31px;
      border:1px solid;
      border-color: #553041;
      border-radius: 2%;
      width: 90%;
      float: left;
      padding-left: 5%;
  }
  /* #isearch:focus{
      border:5px;
  } */
  
  button{
      outline:none;
  }
  #login-btn{
      background-color: #553041;
      height:33px;
      width:80px;
      font-size: 90%;
      border:none;
      border-radius: 3px;
      border-color:#553041 ;
      text-align: center;
      color: white;
      margin-left:10px;
      padding:2%;
  }#sign-btn{
      background-color: #553041;
      height:33px;
      width:100px;
      font-size: 90%;
      border:none;
      border-radius: 3px;
      border-color:#553041 ;
      text-align: center;
      color: white;
      padding:2%;
  }
  .monnavbar li a {
    display: block;
    /* color: white; */
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  #nav_links {
      margin-top: 16px;
      margin-left: 7px;
      font-size: 16px;

  }
  #nav_links:focus{
      background-color:#553041 ;
  }
  #nav_links a{
    color: #553041;
    /* height: 20px; */
  }
  /* #nav_links a:hover{
    color: white;
    background: #553041;
   } */
  #nav_links a:active{
    background: grey;
  }
  #nav_links a:hover{
    color: white;
    background:#553041;
  }
  /* Dropdown Button */
.dropbtn {
    background-color:#553041;
    color:white;
    padding: 16px;
    font-size: 22px;
    border: none;
    /* border-radius: 3px; */
    width: 100%;
    text-align: start;
    padding-left:30px;

  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
    width:100%;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    overflow:;
    /* float: left; */
    position: relative;
    /* height: 200px; */
    background-color: grey;
    min-width: 160px;
    /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
    z-index: 0;
    /* border: 0.3px solid #745965; */
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #745965;color: white;}

.search_form{
    float:right;
    padding: 30px;
    /* background: cyan; */


}
#login{
    background-color: rgb(42, 93, 141);
    height:30px;
    color: white;
    font-size: 16px;
    border:1px groove grey;
    border-radius: 12%;
}
main{
    top:100px;
}
header + main {
    padding-top: 102px;
  }
.contenu_principal{
    margin: 2%;
    height:600px;
    padding-top: 60px;
    background: url(../src/slide1.jpg);
    background-repeat: no-repeat;
    /* opacity: 0.7; */
    background-size: 100%;
    border-radius:6px;
    /* position: relative; */
    /* margin-top: 5%; */
}
.slides p{
    /* padding: 60px 60px 0 100px; */
    color:black;
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
    line-height: 2;
}
.slides h2{
    margin-left:35%;
    color:black;
    /* font-family: 'awesome'; */
}
.slides>button{
    width:300px;
    height:50px;
    margin-left: 40%;
    margin-top:60px;
    justify-self:center ;
    background-color:#553041;
    border:none;
    border-radius: 5px;
    color:white;
    font-size: 25px;
    text-align: center;



}
footer{
    background: rgb(80, 77, 77);
    /* background: #a39f9b; */
    /* margin-left:2%; */
    /* margin-right: 2%; */
    height: 50%;
    /* border-top-left-radius:5px; */
    /* border-top-right-radius:5px; */
    /* opacity: 0.7; */
    margin-top: 8%;
    padding-bottom: 40px;
}
.footer_newsletter{
    background-color: #553041;
    height: 160px;
    text-align: center;
    padding-top: 2%;
    border-top-left-radius:5px;
    border-top-right-radius:5px;


}
.footer_newsletter input{
    width:40%;
    height: 20%;
    margin-top: 15px;
    margin-right: 0;
    height: 35px;
    border: none;
    outline: none;
    /* border-color: #553041; */
    /* width: 70%; */
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    /* float: left; */
    padding-left: 1%;
    font-size: 18px;
    /* font-weight: bolder; */
    color: rgb(36, 33, 44);
}
input{
    outline:none;
}
.footer_newsletter button{
    background: rgb(80, 77, 77);
    color: #f2f2f2;
    padding:8px 10px;
    /* margin-right:16px ; */
    font-size: 20px;
    height: 36px;
    border:none;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;

}
.footer_links{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin-left: 2%;
    margin-right: 2%;
}
#logof{
    height:120px;
    width: 120px;
    border-radius: 50%;
    margin-left: 60px;
    margin-top: 30px;
    border:5px solid white;
}
.footer_links ul{
    width: 12%;
    float: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 40px;
    margin-right: 14%;
}
.footer_links ul li{
    margin-top: 20px;
    color: rgb(223, 219, 219);
}
#he_{
    border-bottom: 3px solid rgb(223, 219, 219);
    padding-bottom: 8px;
}
#footer_contact{
    /* margin-left: 45%; */
}
/* Css Pour la page contactez-nous */
/* .contact_div{
    text-align: center;
} */
.contact_div {
    align-items: center;
    /* padding-left: 40%; */
}
.contact_div h1{
    text-align: center;
    margin-top: 40px;
    color: rgb(54, 48, 48);
}
.contact{
    width: 60%;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 40px;
  margin-left: 20%;
  margin-bottom: 2%;
  margin-top: 3%;
}
#fname,#lname{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    }


  #enrgistrer{
    width: 100%;
    background-color: rgb(138, 139, 138);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight:bold;
    font-size:18px;
  }

  #enrgistrer:hover {
    background-color:#553041;
  }


  #message_c{
    width: 100%;
    padding: 6px 20px;
    margin: 8px 0;
    display: inline-block;
    /* border: 0px solid #ccc; */
    border:none;
    outline: none;
    border-radius: 4px;
    height:120px;
    box-sizing: border-box;

  }
  /* Page3 Soutien */
  .slides_st{
      width: 60%;
      height: 40%;
      margin-left:20%;
      margin-bottom: 2%;
      margin-top: 5%;
      background-image: url(../src/st_sl_bg.jpg);
      background-size: 100%;
      border-radius: 5px;
      /* opacity: 0.6; */
  }
  
  /* Page de soutien */
  .contenu_principal_ps{
    height: 600px;
  }
 /* The sidebar menu */
 .sidebar {
    height: 350px; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 90px;
    left: 2%;
    background-color: #553041; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
  }
  
  /* The sidebar links */
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidebar a:hover {
    color: #706666;
    background-color: rgb(240, 231, 231);
  }
  
  /* Position and style the close button (top right corner) */
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    text-align: center;
    padding-left: 10px;
    padding-top: 5px;
  }
  
  /* The button used to open the sidebar */
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: #444;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s; /* If you want a transition effect */
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  } 
  #loginInput,#id02 input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  /* Set a style for all buttons */
  #Lginbutton,.cancelbtn,#signupbutton {
    background-color: #553041;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  #Lginbutton:hover {
    opacity: 0.8;
  }
  
  /* Extra styles for the cancel button */
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #633b38;
  }
  
  /* Center the image and position the close button */
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
  }
  
  img.avatar {
    width: 40%;
    border-radius: 50%;
  }
  
  .container {
    padding: 16px;
  }
  
  span.psw {
    float: right;
    padding-top: 16px;
  }
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height:100%; /* Full height */
    /* overflow: auto;  */
    /* Enable scroll if needed */
    /* background-color: rgb(0,0,0);  */
    /* Fallback color */
    background-color: rgba(0,0,0,0.4);
     /* Black w/ opacity */
    padding-top: 60px;
    
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: white;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    border-radius: 5px;
    min-width: 60%;
    max-width: 500px;
    height:80%;
    
    /* min-width: 50%; */
    /* Could be more or less, depending on screen size */
  }
  .modal img{
      width: 100px;
      height: 100px;
  }
  
  /* The Close Button (x) */
  .close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: rgb(110, 77, 77);
    cursor: pointer;
  }
  
  /* Add Zoom Animation */
  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
  }
    
  @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
       border:4px;
    }
  }
  #uname_mess{
      color:#553041;
  }
  .fa-facebook {
    background: #3B5998;
    height:30px;
    width: 30px;
    text-align:center;
    color: white;
    font-size: 25px;
  }
  button{
    border: none;
    border-radius: 3px;
    background-color: #553041;
    color: white;
    font-size: 100%;
    /* padding: 1%; */
  }
  #search-btn{
    background: #553041;
    color: #f2f2f2;
    float: right;
    padding:5px 10px;
    margin-left: 0;
    margin-right:16px ;
    font-size: 12px;
    border:none;
    cursor:pointer;
    border-top-left-radius:0 ;
    border-bottom-left-radius:0 ;
  }